{% extends 'layout.html' %}
{% block content %}
      <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <tr>
        <td>
          <button type="submit">AddPhoto</button>
        </td>
      </tr>
    </form>
    <br>
    {% for photo in photos.all %}
        <img width="200px" src="{{ photo.photo.url }}"/>
        {% if user == photo.album.user %}
        <a class="btn btn-primary btn-like" href="{% url 'delete' user.username photo.pk  %}">Delete Photo</a>
        {% endif %}
        <br>
    {% endfor %}

{% endblock %}
