{% extends 'layout.html' %}

{% block content %}
  <h1>All users</h1>
  <div class="users">
     {% for u in users %}
       <div class="media">
         <a class="media-left" href="#">
            <img src="{{ u.profile.avatar_url }}">
         </a>
         <div class="media-body">
            <h4 class="media-heading">
               <a href="{% url 'profile' u.username %}">
                  <b>{{ u.username }}</b>
               </a>
                  {% if u != user %}
                       {% if u in user.profile.friends.all %}
                          <a class="btn btn-primary btn-like" href="{% url 'delete_view' u.pk %}">Delete friend</a> 
                       {% else %}
                          <a class="btn btn-primary btn-like" href="{% url 'invite_view' u.pk %}">Add friend</a>
                       {% endif %}
                  {% endif %}
            </h4>
          </div>
        </div>
         
         {% endfor %}
    </div>
{% endblock %}
